@charset "UTF-8";

/*task2style.css */
body {
	background-color: beige;
	font-family: 'Abril Fatface';font-size: 18px;
	}

	h1{
		font-size: 70px;
		text-align: center;
		padding: 0px;
		border-top: 20px solid #193005;
		font-size: 70px;
		text-align: center;
		padding: 0px;
		border-top: 20px solid #193005;
		border: 20px solid #193005;
        border-left: 100px solid #432705;
        border-right: 100px solid #432705;
        margin-left: 0px;
		background-color: navajowhite;
		
	}
	
	p, footer, div, figcaption, ol, ul, h2{
		text-align: center;
	}

	figure h3 img .album {
		text-align: center;
		border-radius: 10px;
		border-image-width: 30px;
		width: 300px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	figure img {
		border-image-width: 30px;
		border-radius: 400px;
		width: 400px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
			max-width: 100%;
	}
